neverallow { domain -kernel -init -recovery -vold -zygote -sysinit } { fs_type -sdcard_type }:filesystem { mount remount relabelfrom relabelto };
neverallow { domain -appdomain -dumpstate -shell userdebug_or_eng(`-su') -system_server -zygote -sysinit } { file_type -system_file -exec_type }:file execute;
